{% extends "layout.html" %}
{% block content %}
	<div id="grey">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">

				</div>

	    </div> <!-- /container -->
			</div><!-- /row -->
	</div>
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				{% for post in category %}
						<li><a href="{{post.id}}">{{post.category_name}}</a></li>
				{% endfor %}
				</div>
	    	</div>
		</div>
	</div>
{% endblock %}
